/* entire document */


body{
  font-family: "Quattrocento";
  font-size: 22px;
}

/* header */
header{
  background: color 1d 3557;;
  height: 120px;  
}

header h1{
  font-family:"Quattrocento";
  font-weight: bold;
  font-size: 100px;
  margin-left: 0px;
  text-align: center;

}

header nav {
  margin:auto;
  width: 960px;
}

header .one-fish {
  margin: 30px 65px 20px 30px;
  padding: 10px;
  height: 100px;
}

header .two-fish {
  margin: 30px 0px 20px 210px;
  padding: 10px;
  height: 95px;
  width: 280px;
}

header ul {
  float: left;
}

header li {
  display: inline;
  line-height: 50px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 60px;
  font-size: 30px;
  color: 343434
}

header li:first-child{
  margin-left: 100px;
}

nav a {
  text-decoration: none;
  color:rgb(52, 52, 52)
}

/* main */

main {
  margin: auto;
  margin-bottom: 10px;
  width: 960px;
  height: 1400px;
  background-color:#FFFAF0;
  padding-bottom: 40px;
}

.family-picture {
  margin-left: 50px;
  margin-right: 50px;
}

main li{
  list-style-type:none;
  margin-left: 10px;
  float: left;
}

main li:first-child{
  margin-left: 35px;
}

.picture-1 {
  margin-top: 20px;
  margin-left: 20px;
  width: 285px;
  float: left;
  margin-left: 2%;
  box-shadow: 5px 5px 5px grey;
}

.picture-2 {
  margin-top: 50px;
  height: 175px;
  box-shadow: 5px 5px 5px grey;
}

.picture-3 {
  margin-top: 20px;
  height: 300px;
  box-shadow: 5px 5px 5px grey;
}

#t-shirt {
  margin-left: 140px;
}

.picture-4 {
  margin-top: 20px;
  margin-left: 140px;
  height: 300px;
  box-shadow: 5px 5px 5px grey;
}

main article {
float: right;
width: 50%;
margin-top: 30px;
}

main h2 {
  font-size: 50px;
  margin-left: 30px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  color:rgb(74, 78, 105);
}

main p {
  height: 200px;
  margin-left: 30px;
  margin-top: 5px;
  overflow: auto;
  font-family:'Lato', sans-serif;
  color: rgb(154, 140, 152);
}

main div {
  background-color: #111;
  color: #eee;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 80px;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
}

main div:hover {
background-color: rgba(17,17,17,.5);
transition: 350ms;
}

/* footer */

footer {
  background-color: #444;
  height: 100px;
  margin-top: 30px;
  padding-top: 1%;
  padding-bottom: 3%;
  margin:auto;
  width: 960px;
  }

.footer-info h2{
  color: rgb(186, 166, 109);
  text-align: center ;
  font-size: 1.1vw;
  font-weight: 700;
  }

.footer-info p{
  color: lightgray;
  font-size: 0.8vw;
  font-weight: 500;
  text-align: center ;
  }
  
.column-1 {
  float: left;
  margin-left: 30px;
  padding: 10px;
}
.column-2 {
  float: left;
  margin-left: 70px;
  padding: 10px;
}
.column-3 {
  float: right;
  margin-right: 30px;
  padding: 10px;
}

footer a {
  text-decoration: none;
  color:lightblue;
  }
  
/* sales */

/* header */

#sales-header {
  background-color: #f2f2f2;
  height: 100px; 
  }

legend {
  margin: auto;
}

#sales-h1{
  font-size: 70px;
  padding-top: 20px;
  margin-left: 0px;
  text-align: center;
  font-family: "Lato";
  }
#sales-main {
  margin-top: 80px;
  padding: 100px;
  width: 1200px;
  }
  /* Table */
h3{
  text-align: left;
  margin-left: 10px;
  }
li {
  list-style-type: disc;
  margin-left: 30px;
  }
table {
  font-family: "Lato";
  font-size: 16px;
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
  margin: auto;
  padding-top: 30px;
  }
th {
  font-weight: 700;
  border: 1px solid black;
  padding: 5px;
  }
td, th {
  border: 1px solid #cccccc;
  padding: 8px;
  text-align: right;
  }
  
tr {
  text-align: center;
  }
tr:nth-child(even) {
  background-color: #f2f2f2;
  }

#button {
  position:absolute;
  transition: .5s ease;
  top: 32%;  
  left: 40%;
  padding:10px;

}
  